
.myPage {
display: flex;
flex-direction: column;
height: 100vh;
}

.header {
background-color: #282c34;
color: white;
padding: 10px;
text-align: center;
font-size: 24px;
flex: 0;
}

.body {
    display: flex;
    flex-direction: row;
    height: 100%;
    }

.sidebar {
display: flex;
flex-direction: column;
background-color: #f4f4f4;
overflow-x: hidden;
transition: 0.2s;
padding: 10px;
position: relative;
}

.resizer {
position: absolute;
top: 0;
right: 0;
width: 10px;
height: 100%;
cursor: ew-resize;
z-index: 10;
}

.sidebar button {
margin-bottom: 10px;
padding: 5px;
}

.main {
flex: 3;
padding: 20px;
}

.content h2 {
margin: 0;
font-size: 2em;
}

.content p {
font-size: 1.2em;
}
